<html>
	<head>
		<script>
			$(document).ready(function(){
				loadUserDisplayList()
			});

			function loadUserDisplayList(){
				$.getJSON( "/user_display_list.jsp", function (data){
					updateUserDisplayListUI(data)
				});
			}

			function updateUserDisplayListUI(users){
				$.each(users, function(index, user){
					$("#userListTable").append(generateUserListRowHTML(user));
				});
			}

			function generateUserListRowHTML(user){
				var userRowHtml = "";
				var actionButtons =  '<%= image_tag("bar_chart_icon.png", :class => "actionIcons") %>'
								  +	 '<%= image_tag("cancel_icon.png", :class => "actionIcons") %>'
								  +  '<%= image_tag("lock_icon.png", :class => "actionIcons") %>';

				var createdAndModifiedString = "Created @ " + user.userCreated + " by " + user.userCreatedBy + "\n"
												+ "Modified @ " + user.userModified + " by " + user.userModifiedBy;

				userRowHtml += "<tr>"
							+ 	"<td data-toggle='tooltip' title='" + createdAndModifiedString + "' data-username='" + user.username + "'><a href='#' class='displayName'>" + user.firstName + "</a></td>"
							+	"<td data-toggle='tooltip' title='" + createdAndModifiedString + "' data-username='" + user.username + "'><a href='#' class='displayName'>" + user.lastName + "</a></td>"
							+	"<td>" + user.location.name + "</td>"
							+	"<td>" + actionButtons + "</td>"
							+  "</tr>";

				return userRowHtml;
			}

			$("body").on("click", "a.displayName", function(event){
				alert($(this).parent().data("username"));
			});

		</script>

		<style>
			.actionIcons{
				width: 20px;
				height: 20px;
				margin-left: 20px;
				visibility: hidden;
			}

			table#userListTable tr:hover img{
				visibility: visible;
			}
		</style>
	</head>
	<body>
		<div class="col-md-9">
			<table class="table table-hover" id="userListTable">
				<tr>
					<th>First Name</th>
					<th>Last Name</th>
					<th>Place</th>
					<th>&nbsp;</th>
				</tr>
			</table>
		</div>
	</body>
</html>